/* ===================================================================
 *  01. webfonts and iconfonts
 *  02. base style overrides
 *  03. typography & general theme styles
 *  04. forms
 *  05. buttons
 *  06. other components
 *  07. common and reusable styles
 *  08. header styles
 *  09. home
 * =================================================================== */

/* ===================================================================
 *  01. webfonts and iconfonts
 * ------------------------------------------------------------------- */
@font-face {
	font-family: 'OpenSans-Bold';
	src: url('OpenSans-Bold.eot');
	src: url('OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
	url('OpenSans-Bold.woff') format('woff'),
	url('OpenSans-Bold.ttf') format('truetype'),
	url('StMarie-Thin-webfont.svg#StMarieThin') format('svg');
	font-weight: normal;
	font-style: normal;
	}

/* ===================================================================
 *  02. base style overrides
 * ------------------------------------------------------------------- */
html {
	font-size: 1em;
}
}

@media only screen and (max-width:1023px) {
html {
	font-size: 1em;
}
}

@media only screen and (max-width:767px) {
html {
	font-size: 1em;
}
}

@media only screen and (max-width:719px) {
html {
	font-size: 1em;
}
}

@media only screen and (max-width:359px) {
	html {
		font-size: 1em;
	}
	}

html, body {
	height: 100%;
}

body {
	background: #fcfcfc;
	color: #202124;
	margin: 0;
	padding: 0;
}

/* -------------------------------------------------------------------
 * links
 * ------------------------------------------------------------------- */

a, a:visited {
	color: transparent;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #202124;
	text-transform: lower;
	white-space: nowrap;
	background-color: transparent;
	cursor: pointer;
	transition: color .20s ease-in;
	 -moz-transition: color .20s ease-in;
	 -webkit-transition: color .20s ease-in;
}

a:hover, a:focus {
	color: #202124;
}

/* ===================================================================
 *  03. typography
 * ------------------------------------------------------------------- */
.home-content-tablecell h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 3.8em;
	line-height: 1.2em;
	letter-spacing: -2px;
	margin-top: 100px;
}

.col-twelve h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	font-size: 3.8em;
	line-height: 1.2em;
	letter-spacing: -2px;
	margin-top: 100px;
}

.home-content-tablecell .home-section-links li, .home-content-tablecell .home-section-links a {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	margin-right: 35px;
}

@media only screen and (max-width:1023px) {
.home-content-tablecell h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 3.4em;
	line-height: 1.2em;
	letter-spacing: -2px;
	margin-top: 90px;
}

.col-twelve h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 3.4em;
	line-height: 1.2em;
	letter-spacing: -2px;
	margin-top: 90px;
}

.home-content-tablecell .home-section-links li, .home-content-tablecell .home-section-links a {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	margin-right: 30px;
}
}

@media only screen and (max-width:767px) {
.home-content-tablecell h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 3em;
	line-height: 1.2em;
	letter-spacing: -2px;
	margin-top: 80px;
}
	
.col-twelve h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	font-size: 3em;
	line-height: 1.2em;
	letter-spacing: -2px;
	margin-top: 80px;
}

.home-content-tablecell .home-section-links li, .home-content-tablecell .home-section-links a {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	margin-right: 20px;
}
}

@media only screen and (max-width:719px) {
.home-content-tablecell h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 2.6em;
	line-height: 1.2em;
	letter-spacing: -2px;
	margin-top: 80px;
}

.col-twelve h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	font-size: 2.6em;
	line-height: 1.2em;
	letter-spacing: -2px;
	margin-top: 80px;
}

.home-content-tablecell .home-section-links li, .home-content-tablecell .home-section-links a {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	margin-right: 20px;
}
}

/* -------------------------------------------------------------------
 * Spacing
 * ------------------------------------------------------------------- */
button,
.button {
	margin-bottom: 1.2;
}

fieldset {
	margin-bottom: 1.5rem;
}

input,
textarea,
select,
pre,
blockquote,
figure,
table,
p,
ul,
ol,
dl,
form,
.fluid-video-wrapper,
.ss-custom-select {
	margin-bottom: 0rem;
}

.table-responsive {
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}

/* ===================================================================
 *  07. common and reusable styles
 * ------------------------------------------------------------------- */
.section-intro {
	text-align: center;
	position: relative;
}

.section-intro.with-bottom-sep {
	padding-bottom: 4.2rem;
	position: relative;
}

.wide {
	max-width: 1300px;
}

.narrow {
	max-width: 800px;
}

.js .animate-this,
.js .animate-intro {
	opacity: 0;
}

.animate-intro #spNU{
	color:#202124;
}
.oldie .animate-this,
.oldie .animate-intro
.no-cssanimations .animate-this,
.no-cssanimations .animate-intro {
	opacity: 1;
}

/* ===================================================================
 *  09. home
 * ------------------------------------------------------------------- */
#home {

	background: #fafafa;
	width: 100%;
	height: 100%;
	background: #fcfcfc;
	min-height: 804px;
	position: relative;
    -webkit-transition:background-position .7s ease-in;
    -moz-transition:background-position .7s ease-in;
    -o-transition:background-position .7s ease-in;
    transition:background-position .7s ease-in;
}

#home .gradient-overlay {
	position: relative;
	left: 40;
	background: -moz-linear-gradient(left, black 0%, black 20%, transparent 100%);  /* FF3.6-15 */
	background: -webkit-linear-gradient(left, black 0%, black 20%, transparent 100%);  /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, black 0%, black 20%, transparent 100%);  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#00000000', GradientType=1);  /* IE6-9 */
}

.overlay {
	position: absolute;
	margin-right: 20px;
	margin-left: 150px;
}

.home-content-table {
	width: auto;
	height: 100%;
	display: table;
	position: relative;
}

.home-content-tablecell {
	display: table-cell;
	vertical-align: bottom;
	z-index: 500;
}

.home-content-tablecell .intro-superior{
  position: relative;
  padding-top: 12rem;
  padding-bottom: 3rem;
}

span.white-text-intro{
	display: block;
	color: #202124;
}

span.white-text{
	color: #202124;
}

.home-content-tablecell .home-section-links {
	display: inline-block;
	list-style: none;
}

.home-content-tablecell .home-section-links li {
	display: inline-block;
	font-size: 1em;
	color: #3d3d3d;
	margin-bottom: 70px;
}

.home-content-tablecell .home-section-links li:last-child {
	margin-right: 0;
}

.home-content-tablecell .home-section-links a {
	font-size: 1.6rem;
	text-transform: none;
	letter-spacing: 0;
	color: #202124;
  	display: inline-block;
  	position: relative;
}

a.underline-effect:after {
	content: '';
  	position: absolute;
  	left: 0;
	display: inline-block;
	height: 1em;
	width: 100%;
	border-bottom: 1px solid;
	margin-top: 10px;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

a.underline-effect:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.scroll-icon {
	position: absolute;
	width: 60px;
	height: 20px;
	font-size: 3.3rem;
	bottom: 30px;
	right: 20px;
	color: #202124;
	-webkit-animation: vertical 3s ease infinite;
	animation: vertical 3s ease infinite;
}

/* vertical animation */
@-webkit-keyframes vertical {
0%, 60%, 80%, 100% {
	-webkit-transform: translateY(0);
}

20% {
	-webkit-transform: translateY(-5px);
}

40% {
	-webkit-transform: translateY(20px);
}
}

@keyframes vertical {
0%, 60%, 80%, 100% {
	-webkit-transform: translateY(0);
}

20% {
	-webkit-transform: translateY(-5px);
}

40% {
	-webkit-transform: translateY(20px);
}
}
